.header {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 20px;
    border: 2px solid #000;


}
.header ul{
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.name{
    font-family: 'Brush Secript MT', cursive;
    font-size: 50px;
    text-decoration: none;
    color: black;
}